
#ninjago {
    background-color: deeppink;
}

#cheese {
    text-align: center;
    background-color: aqua;
    color: darkviolet;
    font: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


#pizza {
    background-color: chartreuse;
}

#pepperoni {
    background-color: turquoise;
}

#id {
    background-color: bisque;
}